@keyframes pulse{
	15%{ transform: scale(1); }
	45%{ transform: scale(1.1); }
	65%{ transform: scale(1); }
}

@keyframes loading{
	0%{ transform: scale(0); opacity: 0; }
	50%{ opacity: 1; }
	100%{ transform: scale(8); opacity: 0; }
}