@use "sass:color";

@import "reset.scss";
@import "helpers.scss";
@import "animations.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$font: "Roboto", sans-serif;
$dark100: #18181a;
$light: #ffffff;
$important: #e46155;
$league: #196fd4;
$twitch: #9147ff;

html, body{ height: 100%; margin: 0; padding: 0; }
body{
	display: flex; align-items: center; justify-content: center; background: $dark100;
	font-family: $font; font-size: 16px; color: white;
}
a{ text-decoration: none; }
button{ -webkit-appearance: none; }
button:hover{ cursor: pointer; }
button:focus{ outline: none; }

/* Loader animation */

#main-view, #caster-view, #live-chat{ position: relative; overflow: hidden; }
.is-loading .loader{ opacity: 1; }
.loader{
	position: absolute; z-index: 1; width: 100%; height: 100%; left: 0; top: 0; 
	display: flex; align-items: center; justify-content: center; 
	pointer-events: none; opacity: 0; transition: all 300ms ease;
	background: radial-gradient(lighten($dark100, 10%), $dark100);
	&:before{
		display: block; content: ""; width: 4rem; height: 4rem;
		background: no-repeat center center / cover;
		animation: pulse 1.25s ease both infinite;
	}
	&:after{
		position: absolute; z-index: -1; display: block; content: ""; width: 4rem; height: 4rem; border-radius: 4rem;
		background: $dark100; animation: loading 1.25s ease both infinite;
	}
}
#main-view .loader:before{ @include icon(2, 0, 4rem); }
#caster-view .loader:before{ @include icon(1, 0, 4rem); }
#live-chat .loader:before{ @include icon(0, 0, 4rem); }

#main-view{
	position: relative; display: flex; align-items: center; width: 75vw; height: 100%;
	&.timer-focus{ align-items: flex-start; }
	iframe{ transition: all 300ms ease; }
	&.timer-focus iframe{ transform: scale(10); transform-origin: center top; }
	&.game-focus iframe{ transform: scale(1); transform-origin: 50% 50%; }

	#main-player {
		position: relative; width: 100%; height: 100%;
		iframe{ position: absolute; width: 100%; height: 100%; }
	}
	

	.controls{
		position: absolute; z-index: 2; display: flex; justify-content: center; width: 100%; top: 1rem;
		transition: all 300ms ease; transform: translateY(-3rem);

		.sync-controls{ display: flex; justify-content: center; transform: translateX(-0.9%); }
		.settings-controls{ position: absolute; left: 1rem; }
		.screen-controls{ position: absolute; right: 1rem; }
		.volume-control{ display: none; }

		.button{
			display: flex; align-items: center; justify-content: center; height: 2rem; padding: 0 1rem; border: none;
			color: $light; font-size: 0.75rem; line-height: 2rem; font-weight: bold; text-align: center; text-transform: uppercase; text-decoration: none;
			&:active{ transform: scale(0.9); -webkit-tap-highlight-color: transparent; }
			&:focus{ outline: none; box-shadow: none; }
			&:before{
				display: block; content: ""; width: 1rem; height: 1rem; background: no-repeat center center / contain;
				margin-right: 0.5rem;
			}
		}
		#open-settings{ background: $twitch; border-radius: 1rem; }
		#open-settings:hover{ background: color.adjust($twitch, $saturation: 35%, $lightness: 10%); }
		#open-settings:before{ @include icon(0, 3); margin: 0; }
		#sync{ display: none; background: $important; border-radius: 1rem; }
		#sync:hover{ background: color.adjust($important, $saturation: 35%, $lightness: 10%); }
		#sync:before{ @include icon(2, 1); }
		#game-control, #game-reset-control{ visibility: hidden; }
		#game-control{ background: $league; border-radius: 1rem 0 0 1rem; transform-origin: right center; }
		#game-control:before{ @include icon(0, 1); }
		#game-control.paused:before{ @include icon(1, 1); }
		#game-control:hover{ background: color.adjust($league, $saturation: 35%, $lightness: 10%); }
		#game-reset-control{ background: $league; border-radius: 0 1rem 1rem 0; transform-origin: left center; }
		#game-reset-control:hover{ background: color.adjust($league, $saturation: 35%, $lightness: 10%); }
		#game-reset-control:before{ @include icon(2, 1); }
		#fullscreen{ background: $twitch; border-radius: 1rem; }
		#fullscreen:hover{ background: color.adjust($twitch, $saturation: 35%, $lightness: 10%); }
		#fullscreen:before{ @include icon(3, 0); }
	}

	&.timer-focus .controls{
		#sync{ border-radius: 0; }
		#sync span{ display: none; }
		#sync:before{ @include icon(3, 1); margin: 0; }
		#game-control, #game-reset-control{ visibility: visible; }
	}

	&:hover .controls{ transform: translateY(0); }
}

aside{
	position: relative; display: flex; flex-direction: column;
	width: 25vw; height: 100%;
}

#caster-view{
	height: 25vw*(9/16);
	iframe{ transition: all 300ms ease; }
	&.caster-focus iframe{ transform: scale(1); transform-origin: center center; }
	&.timer-focus iframe{ transform: scale(1); transform-origin: center center; }
	&:hover iframe{ transform: scale(1); }

	#viewer-count{
		position: absolute; z-index: 2; top: 0; visibility: hidden;
		display: flex; align-items: center; margin: 1rem; padding: 0.5rem 0.75rem; background: $light; border-radius: 2rem;
		font-size: 0.85rem; color: $important;
		&:before{ display: block; content: ""; width: 1rem; height: 1rem; @include icon(0, 2); margin-right: 0.35rem; }
	}

	.controls{
		position: absolute; z-index: 1; bottom: 0; width: 100%; padding: 1rem; box-sizing: border-box;
		display: flex; align-items: center; visibility: hidden;
		input{
			border-radius: 1rem;
			&::-webkit-slider-runnable-track{ border-radius: 1rem; }
			&::-moz-range-track{ border-radius: 1rem; }
			&::-webkit-slider-thumb{ transform: scale(1.5); border-radius: 1rem; }
			&::-moz-range-thumb{ transform: scale(1.5); border-radius: 1rem; }
		}
	}
	&:hover .controls, &:hover #viewer-count{ visibility: visible; }
}

.volume-control{
	display: flex; align-items: center; padding: 1rem; box-sizing: border-box;
	.icon{
		display: flex; justify-content: center; align-items: center; width: 2rem; height: 2rem;
		margin-right: 0.5rem; background: $twitch; border-radius: 1rem;
		&:before{ display: block; content: ""; width: 1rem; height: 1rem; }
	}
	.volume-icon:before{ @include icon(1, 2); }
	input{
		flex: 1; background: $twitch; margin: 0; -webkit-appearance: none; appearance: none;
		&:focus{ outline: none; }
		&:hover{ cursor: pointer; }
		&::-webkit-slider-runnable-track{ background: $twitch; }
		&::-moz-range-track{ background: $twitch; }
		&::-webkit-slider-thumb{ -webkit-appearance: none; background: $light; width: 1rem; height: 1rem; border: none; border-radius: 0; }
		&::-moz-range-thumb{ -webkit-appearance: none; background: $light; width: 1rem; height: 1rem; border: none; border-radius: 0; }
	}
}

#live-chat{
	flex: 1;
	#live-chat-embed{ position: absolute; width: 100%; height: calc(100vh + 17vh - (25vw*(9/16))); top: -17vh; }
}

@import "settings";

@media (orientation: landscape) and (max-width: 48rem){
	
	#main-view{
		width: 100%;
		iframe{ pointer-events: none; }
		.controls{
			height: 100%; top: auto; bottom: 0; align-items: flex-end;
			transform: translateY(0); padding: 5vw; box-sizing: border-box;

			/* Disable the controls while hidden */
			opacity: 0;
			&>*{ pointer-events: none; }

			/* Re-enabled them when visible */
			&.visible{ opacity: 1; }
			&.visible>*{ pointer-events: all; }

			.settings-controls{ top: 5vw; left: 5vw; }
			.screen-controls{ top: 5vw; right: 5vw; }
			.volume-control{ display: flex; }
			.button{
				height: 7vw; padding: 0 3vw; font-size: 2.5vw; line-height: 7vw;
			}
			#open-settings{ border-radius: 7vw; }
			#sync{ border-radius: 7vw; }
			#game-control{ border-radius: 7vw 0 0 7vw; }
			#game-reset-control{ border-radius: 0 7vw 7vw 0; }
			#fullscreen{ border-radius: 7vw; }
		}

		&.timer-focus{
			iframe{ transform: scale(7); transform-origin: 54.5% top; }
		}
	}

	aside{
		position: absolute; z-index: 1; right: 0; width: 50vw; overflow: hidden;
		visibility: visible;
	}

	#caster-view{
		height: 100%;
		iframe{ pointer-events: none; }
		&.caster-focus{
			position: absolute; bottom: 28%; right: 0; width: 7.25vw * (16/9); height: 7.25vw;
			.loader:before{ height: 2rem; width: 2rem; @include icon(1, 0, 2rem); }
			iframe{ transform: scale(3); transform-origin: 90% 88%; }
		}
		&.timer-focus iframe{ transform: scale(4); transform-origin: center 34%; }
		.controls{ display: none; }
	}

	.volume-control{
		position: absolute; bottom: 42%; right: 0; width: 50vw; margin: 0 5vw; padding: 0; overflow: hidden;
		&.toggled{
			.icon, input{ transform: translateX(0); }
		}
		.icon, input{ transform: translateX(42.5vw); transition: all 300ms ease;  }

		.icon{ width: 7vw; height: 7vw; border-radius: 7vw; }
		.icon:before{ transform: scale(1.5); }
		input{
			background: $light; border: 3vw solid $light; border-radius: 7vw;
			&::-webkit-slider-runnable-track{ height: 1vw; border-radius: 1vw; }
			&::-moz-range-track{ height: 1vw; border-radius: 1vw; }
			&::-webkit-slider-thumb{ width: 4vw; height: 4vw; box-shadow: 0 0.25vw 1vw rgba($dark100, 0.35); transform: translateY(-1.5vw); border: 0.25vw solid $twitch; border-radius: 4vw; }
			&::-moz-range-thumb{ width: 4vw; height: 4vw; box-shadow: 0 0.25vw 1vw rgba($dark100, 0.35); transform: translateY(-1.5vw); border: 0.25vw solid $twitch; border-radius: 4vw; }
		}
	}

	#live-chat{ display: none; }
}

@media (orientation: portrait){
	#main-view{
		width: 100%;
		.controls{ display: none; }
	}
	aside{ display: none; }
}